/* Branding Guide */
/* Name of Chef: Marco Bellissimo */
/* Fonts:




Body and normal text:
font-family: 'Cormorant Garamond', serif;




Heading text:
font-family: 'Great Vibes', cursive;
*/




/* Colors:
blue color:
#0082C6




dark color:
#232325




light color:
#E0E1DD




white:
#FFFFFF
*/




/* Setting Fonts for Page */
* {
    font-family: 'Cormorant Garamond', serif;
}


h1 {
    font-family: 'Great Vibes', cursive;
}


/* Nav Bar formatting */
ul {
    padding-right: 5px;
}


.navbar {
    z-index: 6;
    position: fixed;
    width: 100%;
    top: 0;
}


li .nav-link.active {
    text-transform: uppercase;


    transition: all;
    transition-duration: 0.5s;
}


li .nav-link.active:hover {
    color: #0082C6;
}




/* Opening Screen Formatting */
#openingScreen {
    padding-top: 40px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url(bgStarter.png);
    background-size: cover;
}


#cover {
    z-index: 2;
    width: 100%;
    height: 105vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .8);
}


#cover #border {
    margin-top: 40%;
}


nav {
    z-index: 3;
}


video {
    top: 0;
    left: 0;
    margin: 0;
    z-index: 1;
    width: 100%;
    height: 105vh;
    position: absolute;
    object-fit: cover;
}


#content {
    margin: 0 8%;
    color: white;
    text-align: left;
    z-index: 2;
    margin-top: 24%;
    line-height: 1;
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 4;
    grid-row-gap: 5%;
}




#content h2 {
    font-size: 100px;
    grid-row-start: 2;
    grid-column-start: 1;
}


#content #words {
    grid-row-start: 3;
    grid-column-start: 1;
    font-size: 20px;
    text-overflow: wrap;
}


#content #slogan {
    grid-row-start: 1;
    grid-column-start: 1;
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    text-overflow: wrap;
    animation: colorChange 5s infinite forwards;
}


@keyframes colorChange {
    50% {
        color: #0082C6;
    }


    100% {
        color: #E0E1DD;
    }
}




#content img {
    width: 550px;
    height: 550px;
    display: flex;
    position: absolute;
    top: 250px;
    right: 40px;
}


#border {
    z-index: 2;
    width: 100%;
}


/* ABOUT SECTION FORMATTING */
#about {
    margin-top: 15%;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 4;
}


#about .container {
    display: grid;
    grid-template-columns: 50% 44%;
    grid-template-rows: 1;
    column-gap: 6%;
}


#about #chefPic {
    grid-column-start: 1;
    grid-row-start: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100px;
    transition: all;
    transition-duration: 1s;
}


#about #chefPic:hover {
    border-radius: 200px;
}


#aboutInfo {
    grid-column-start: 2;
    display: block;
}


#aboutInfo h1 {
    text-align: center;
    font-size: 60px;
    justify-content: center;
}


#aboutInfo p {
    font-size: 25px;
}


#welcome {
    font-size: 35px;
    text-decoration: underline;
    color: #0082C6;
}


/* GALLERY FORMATTING */
#gallery {
    background-image: url(blueBG.jpg);
    background-size: cover;
    background-color: #232325;
    color: #E0E1DD;
}


#gallery h1 {
    z-index: 5;
    padding-top: 5%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 60px;
    color: #E0E1DD;
    align-items: center;
}


#gallery p {
    text-align: center;
    font-size: 24px;
    padding: 2% 10%;
}


#gallery span {
    font-weight: bold;
    transition: all;
    transition-duration: 0.5s;
}


#gallery span:hover {
    color: white;
}


#galleryPics {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    grid-template-rows: repeat(2, 50%);
    row-gap: 9%;
    column-gap: 5%;
    margin: 0 5%;
    padding: 10% 0 14%;
}


.width {
    width: 100%;
    height: 100%;
}


#galleryPics img {
    opacity: 0.7;
    transition: opacity 0.5s;
    object-fit: cover;
}


#galleryPics img:hover {
    opacity: 1;
}


#galleryPics #gallery1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}


#galleryPics #gallery2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}


#galleryPics #gallery3 {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    padding-right: 0;
}


#galleryPics #gallery4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}


#galleryPics #gallery5 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    padding-right: 0;
}




/* REVIEWS SECTION FORMATTING */
#containerRev {
    margin: 90px 40px;
    margin-left: 45px;
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 3fr;
    grid-template-rows: 0.5fr 3fr;
    column-gap: 5%;
}


#containerRev h1 {
    font-size: 60px;
    grid-column-start: 1;
    grid-row-start: 1;
}


#containerRev p {
    grid-column-start: 1;
    grid-row-start: 2;
}


#containerRev #carouselExampleIndicators {
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}


#reviewP {
    font-size: 20px;
}


/* FOOTER SECTION FORMATTING */
footer {
    text-align: center;
    background-color: #232325;
}


#quickID p {
    display: inline-block;
    text-wrap: nowrap;
    color: #E0E1DD;
    text-decoration: none;
}


span {
    font-weight: bold;
    transition: all;
    color: #0082C6;
    transition-duration: 0.3s;
}


span:hover {
    color: #232325;
}


#quickID {
    padding-top: 20px;
}




#quickID p {
    text-transform: uppercase;
    justify-content: space-evenly;
    display: inline;
    margin: 0 40px;
    font-size: 16px;
    color: #E0E1DD;
}




#socials i {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    color: #E0E1DD;
    display: flex;
    display: inline-block;
    align-self: center;
    margin: 0 10px;
    transition: all;
    transition-duration: 1s;
}


i:hover {
    transform: scale(1.2);
    color: #0082C6;
}


@media (max-width: 1000px) {
    #quickID p {
        font-size: 12px;
        display: block;
        padding-bottom: 3%;
    }
}


@media (max-width: 768px) {
    #content {
        margin-top: 50%;
        row-gap: 1%;
    }


    #words {
        font-size: 15px;
    }


    #content h2 {
        font-size: 74px;
    }


    #content p {
        font-size: 15px;
    }


    #aboutInfo {
        padding-top: 0;
    }


    #about .container {
        display: block;
    }


    #about h1 {
        font-size: 55px;
        padding: 5% 32% 0 35%;
    }


    #about p {
        font-size: 12px;
        padding-bottom: 6%
    }


    #gallery h1 {
        font-size: 45px;
    }


    #gallery p {
        padding-top: 4%;
        font-size: 14px;
    }


    #reviews #containerRev {
        margin: 5% 8%;
        display: inline-block;
    }


    #reviews #containerRev h1 {
        font-size: 45px;
    }


    #reviewP {
        font-size: 14px;
    }


    footer {
        z-index: 4;
    }
}


@media (max-width: 530px) {
    #aboutInfo {
        padding-top: 10%;
    }
}